body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
}

h1{
    color: white;
    text-align: center;
}

button{
    margin-left: 45%;
}

img{
    margin-left: 25%;
}

/*This is the landscape styling of a 320 x 488 screen*/
@media only screen and (max-width: 488px){
    img{
        width: 40%;
    }
}
